
/* vc */

.vc-title {
  color: #030229;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}
.vc-label {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 9px;
}
.vcComp input:not(.auto-h) {
  background-color: #f7f7f8 !important;
  height: 54px !important;
}
.vc-video-card {
  padding: 13.5px;
  background-color: #fafafa;
  border-radius: 16px;
  box-shadow: 0px 0px 20px -9px gray;
  border: 2px solid transparent;
  border: 2px solid whitesmoke;
}
.vc-video-card-img {
  border-radius: 5px;
  position: relative;
}
.vc-video-card-img:not(.isThankx) {
  height: 92px;
  width: 155px;
}
.vc-video-card-img.isThankx {
  height: 134px;
  width: 200px;
 
}
.play-icon:after {
  bottom: 0;
  content: "";
  height: 30px;
  left: -4px;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 6;
  background: #00000057;
  border-radius: 50px;
  border: 2px solid white;
}
.play-icon::before{
  border-bottom-color: #ff00;
  border-left-color: white;
  border-right-color: #6a596a00;
  border-style: solid;
  border-top-color: #ff000000;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  z-index: 9;
  border-top-width: 8px;
  border-right-width: 1px;
  border-bottom-width: 8px;
  border-left-width: 13px;
  border-radius: -7px;

}


.vc-video-card-title {
  font-size: 16px;
  font-weight: 600;
}
.vc-video-card-author {
  font-size: 14px;
  font-weight: 400;
  color: #707070;
  gap: 9px;
  display: flex;
  align-items: center;
  margin-top: 11px;
}
.radio-like-checkbox {
  position: relative;
}
.radio-like-checkbox::after,
.radio-like-checkbox::before {
  content: "";
  position: absolute;
  border-radius: 50px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.radio-like-checkbox::after {
  width: 0px;
  height: 0px;
  background-color: gray;
  right: -3px;
}
.radio-like-checkbox::before {
  width: 23px;
  height: 23px;
  border: 2px solid gray;
  background: white;
  left: -3px;
}
.radio-like-checkbox:checked + label {
  border: 2px solid #24a0ed;
}
.radio-like-checkbox:checked:after {
  background-color: #24a0ed;
  width: 15px;
  height: 15px;
}
.radio-like-checkbox:checked:before {
  border: 2px solid #24a0ed;
}
.checked-border{
  border: 2px solid #24a0ed;
}
.vote-prograss-bar{
  background-color: #E0E0E0;
  border-radius: 10px;
  height: 15px;
  width: 90%;
}
.vote-prograssed{
  background-color: #47B2FF;
  width: 40%;
  height: 100%;
  border-radius: 10px;
  height: 15px;
}
.number-of-vote{
  font-size: 18px;
  font-weight: 500;
}
.prograss-number {
  font-size: 16px;
  font-weight: 600;
  background: #FFB449;
  position: absolute;
  bottom: 23px;
  padding: 4px;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}
.prograss-number::before {
 content: "";
 position: absolute;
 
    border-top-width: 7px;
    border-right-width: 6px;
    border-bottom-width: 11px;
    border-left-width: 6px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ffb449;
    border-right-color: #00800000;
    border-bottom-color: #00800000;
    border-left-color: #21342100;
    bottom: -17px;
    right: 0;
    left: 0;
    margin: auto;
    width: 0px;
}
.success-submit{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}
.thank-you-title{
  font-size: 70px;
  line-height: 95px;
  font-weight: 600;
  text-transform: uppercase;
}

#exampleModal51::before {
  content: "";
  background: #0000006e;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.bg-light-black{
  background: #0000006e;
}

@keyframes animatebar {
  0%{
    width:0px !important
  }
  100%{
    width: inherit;
  }
}

.voting-btn-wrapper{
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
/*.btn-submit-on-card{
  font-size: 14px;
  background: #0078d4;
  color: white;
  padding: 3px 41px;
}

.submit-on-card{
  display: flex;
  align-items: center;
  gap: 11px;
}*/
.already-voted {
    background: #aae0f538;
    border-left: 7px solid !important;
    border: 1px solid;
    border-radius: 5px;
    color: #135a73ad;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.1px;
    padding: 10px 5px;
    width: 100%;
    margin: 16px;
    margin-left: 0px;
    margin-right: 0px;
}

.voting-item-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vc-video-card-title{
  text-align: left;
}
.br-11{
  border-radius: 11px;
}